<div class="stuff-written">
  <h1>Stuff Ive Written</h1>
  </div>
  <span class="divider"></span>
    <% @posts.each do |post| %>
  <div class="post-container">
    <div class="post-post">
      <div class="post-heather">
        <h1><a href= "" > <%= link_to post.title, post_path(post) %></a></h1>
        <div class="date">
          <p><%= post.created_at.strftime('%A, %b %d') %></p>
        </div>

        <% if user_signed_in? %>
			<%= link_to "Edit", edit_post_path(post) %>
			<%= link_to "Destroy", {:controller=>:posts,:action=>:destroy, :id=>post}, :method=>:delete %>
	     <% end %>

    </div>
  </div>
</div>
  <% end %>

<div class="pagination-wrapper">
    <%= will_paginate @posts %>
</div>
  <% if user_signed_in? %>
<%= link_to 'New Post', new_post_path %>
<% end %>
