<div class="stuff-written">
  <h1>Stuff Ive Written</h1>
  </div>
  <span class="divider"></span>
    <% @posts.each do |post| %>
  <div class="post-container">
    <div class="post-post">
      <div class="post-heather">
        <h1><a href= "" > <%= link_to post.title, post_path(post) %></a></h1>
        <div class="date">
          <p><%= post.created_at.strftime('%A, %b %d') %></p>
        </div>

        <%= link_to 'Edit', edit_post_path(post) %></td>
        <%= link_to 'Destroy', {:controller=>:posts,:action=>:destroy, :id=>post}, :method=>:delete %>

    </div>
  </div>
</div>
  <% end %>

  <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
  <% end %>

<div class="pagination-wrapper">
    <%= will_paginate @posts %>
</div>

<%= link_to 'New Post', new_post_path %>
