<p id="notice"><%= notice %></p>
  <tbody>
    <header id="top" class="header">
    <nav class="navbar">
      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="nav navbar-nav    navbar-right">
          <li class="nav-item active">
            <a href="<%= root_path %>" >Portfolio</a>
          <li class="nav-item">
            <a href=" <%= posts_path %>" >Blog</a>
          </li>
        </ul>

      </div>
      </div>
      <!-- /container -->
    </nav>

  </header>
  <h1 id="blog_title">Stuff Ive Written</h1>
  <span class="divider"></span>
  <table class="table borderless">


  <% @posts.each do |post| %>
    <tr>
    <td><h2><a href= "" > <%= link_to post.title, post_path(post) %></a></h2>
    <p class="date"><%= post.created_at.strftime('%A, %b %d') %></p></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
   <td><%= link_to 'Destroy', {:controller=>:posts,:action=>:destroy, :id=>post}, :method=>:delete %></td>

  </tr>

  <% end %>
  </table>
  <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>


  <div class="pagination-wrapper">
    <%= will_paginate @posts %>
</div>

<%= link_to 'New Post', new_post_path %>
