<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <h1><%= @post.title %></h1>
  <p class="date"><%= @post.created_at.strftime("%A, %B, %d") %></p>
  <span class="divider"></span>
</div>

<div class="content">
  <p><%= markdown @post.content %></p>
</div>

<div class="back-button">
    <%= link_to '', posts_path, class:"fa fa-arrow-circle-left fa-4x", :"data-no-turbolink" => true, method: "get" %>
  </div>


<%= render 'disqus'%>

<script id="dsq-count-scr" src="//cristinarosarioblog.disqus.com/count.js" async="async"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
